name: mpi
channels:
  - conda-forge
  - defaults
dependencies:
  - biopython=1.79
  - bzip2=1.0.8
  - ca-certificates=2021.10.8
  - dbus=1.13.6
  - expat=2.4.1
  - gettext=0.19.8.1
  - glib=2.70.0
  - glib-tools=2.70.0
  - icu=68.2
  - jpeg=9d
  - krb5=1.19.2
  - libblas=3.9.0
  - libcblas=3.9.0
  - libclang=11.1.0
  - libcxx=12.0.1
  - libedit=3.1.20191231
  - libffi=3.4.2
  - libgfortran=5.0.0
  - libgfortran5=9.3.0
  - libglib=2.70.0
  - libiconv=1.16
  - liblapack=3.9.0
  - libllvm11=11.1.0
  - libopenblas=0.3.18
  - libpng=1.6.37
  - libpq=13.3
  - libxcb=1.13
  - libxml2=2.9.12
  - libxslt=1.1.33
  - libzlib=1.2.11
  - llvm-openmp=12.0.1
  - lxml=4.6.4
  - lz4-c=1.9.3
  - mpi=1.0
  - mpi4py=3.1.2
  - mpich=3.4.2
  - mysql-common=8.0.27
  - mysql-libs=8.0.27
  - ncurses=6.2
  - nspr=4.32
  - nss=3.72
  - numpy=1.21.4
  - openssl=1.1.1l
  - pcre=8.45
  - pthread-stubs=0.4
  - pyqt=5.12.3
  - pyqt-impl=5.12.3
  - pyqt5-sip=4.19.18
  - pyqtchart=5.12
  - pyqtwebengine=5.12.1
  - python=3.10.0
  - python_abi=3.10
  - qt=5.12.9
  - readline=8.1
  - scipy=1.7.2
  - setuptools=59.1.1
  - sqlite=3.36.0
  - tk=8.6.11
  - tzdata=2021e
  - xorg-kbproto=1.0.7
  - xorg-libice=1.0.10
  - xorg-libsm=1.2.3
  - xorg-libx11=1.7.2
  - xorg-libxau=1.0.9
  - xorg-libxdmcp=1.1.3
  - xorg-libxext=1.3.4
  - xorg-libxrender=0.9.10
  - xorg-renderproto=0.11.1
  - xorg-xextproto=7.3.0
  - xorg-xproto=7.0.31
  - xz=5.2.5
  - zlib=1.2.11
  - zstd=1.5.0
  - pip:
    - ete3==3.1.2
    - pip==21.3.1
    - six==1.16.0
    - wheel==0.37.0
prefix: /opt/miniconda3/envs/mpi
